# GitHub App settings
GITHUB_APP_ID=3404221
GITHUB_APP_NAME="RoleBit"
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAu7wTL0uSvLb3JAuJYb0na7mnGuka+FerjZzGB17xHfwVTDmZ
LQQ7gGN/UNwgL5mvCiirE6pGB3CrDfQ8myJqL+j15MshRhvJoy3DdnFaRl2uKzqm
i+bP/iU+QcVOQDDqr6H63vTy+H6hCW+NCohMt/So91vnEMISYCSsGIyx7n1crBKu
NpWbdqlyz/RFPi6LStkRW/C/nBicOCethpzjYwD0hyLA4+4YP4FZAnhY/cBmVdqI
wqwsZavgxG0+tLraSdUTv5Ox90BYqNCQSLYsTS/GQay1DomehVoWUr6nOWzt30td
tvKlQ+ATGHm6kKFQMPUteDP9ncF/R4cHcglqfQIDAQABAoIBACvvxmWpQDxebdTH
xm1TgahamNtZdvBsREAuUsJi2/dyieF/EXRRq0NPBfr8qaO6ShcMkY1WqnEPU1k+
sfh0w3lXAkV7rNvloPlJupc7zC7vudVwMo5HhKIsQTfPX5LyX9qfBEGt/jdeG35D
1zSB1cKvxeOuZJOtd/N8YbKVKwdvdNfo/4g0C7xsYFcefIfZHo4bdyshAlG3b2B/
m51L40vgGLC3FoNn++7FNdY3ce1CGuVAP/ir49eKaaOAhH1L/E3Wjp6WHme+/SIi
3CcJHTMja2mE11TaoaIELitaxMBWB8Q/TYCBMfERrVAf6+u7vGlNInVQJXzCUmp2
Rc/5LBkCgYEA4mGItZXpy/P2k6A0hxDOesejwkRAUfGctHy5mcAix10cL7fYf7t3
4qGb3ZmE3LNQ5Mmr7L9CqwGaPT6oEXbTbyZ/0M5Ge7+2fx4bfLljayr0KQ1AMVNk
jh73HgU4NlonDGwS5qenSJqaVlKBK5U3JPM2qJln91uxMQwpClL4ESsCgYEA1Ewc
SkICXnDWgph8N/q97PDuhQbLnB7SRwDHkflsx85snuANFGtIUkdR7WH8h4dJ8x75
JVP2kMoCuyhmipQemqz7hnyn0zXyQFZEAnhvoAx9zLlPW8/xHWhkgJsWWGKl6qAR
JXIw6qkDAIpU49e8aupD+xlN1JJhxPSe+i4BjvcCgYEArF3vJbPbrDs5h/X3iM+3
J61SdtxYzQvWcWZ2OyccVAgFKiAlbDxlb931O6lkjFbMRSd5DG4kaOhzdCZ8+a8s
FfmOYIJvEFJMtkVKUJEnrbWq6ob4VZZVfhD9v5Hh1yCVktPHIHCO4q00zn1LdM/M
iQnWmFEV5DWgmOPVa9L4prkCgYBkSySeTDr0RNiCT+l3RMTPGC+GtuQf+Euc8ZhW
tQAYEMQt9mkXeWtsO3dP7xevK1HbQomvgdAdLOJHatmupDUlG42kRmW+mWC91kNA
64bIlL4lpnIATOd63iOEwj+3N7tscXxINX84jOn3KmLaVMQVumCtUpH7V8BKnMoy
JOPllwKBgB1UEeCKnwLx06SKe85X02H9RJLR5tBuV6Mi3LNXmJvXw5ri7oF5TsNP
seY8Ah4cevSkEYxkcEqUH/AtYbA/IQ/bF9YnnvrBcM/rePb817QVm2Vp/eQm8i+l
lz77cImv5pApMNVQbk4MJHhqge8H+tuBqw/vHQnQe1jFE/Z4+h8A
-----END RSA PRIVATE KEY-----
"
GITHUB_WEBHOOK_SECRET=danielsan
GITHUB_CLIENT_ID=Iv1.0000000000000000
GITHUB_CLIENT_SECRET=Iv23libURCU82mOPKXB1

# Frontend base URL for callback redirect after installation
APP_BASE_URL=http://localhost:5500
